/**
*
* grid.css
* @author- Arshath
* @date- 30/11/2022
*/
.grid-11 {
    display: grid;
    grid-template-columns: repeat(10, 100px) 150px;
    column-gap: 10px;
}
.grid-10 {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    column-gap: 10px;
}
.grid-9 {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    column-gap: 10px;
}
.grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 100);
    column-gap: 10px;
}